@charset "UTF-8";
/* ===============================================================
各ページ共通
=============================================================== */
body {
  font-family: 'Rounded Mplus 1c', '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  min-width: 300px;
  text-align: center;
}

.back-img {
  background: url("../images/bgscroll_100.png") 0 0 repeat, #ffffff 0 0 no-repeat;
  animation: anime01 10s linear infinite;
}

@keyframes anime01 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

.caption-box {
  margin: 8% auto 5% auto;
  padding: 1% 0;
  background-color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.2em;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000, 1px 0px 0 #000, 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff, 2px 0px 0 #fff;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  color: #0078be;
}

a:hover {
  color: #fa5a00;
}

.gl-header {
  z-index: 100;
  position: relative;
}

.mobile-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  position: relative;
  min-width: 300px;
  background-color: #ffffff;
}

.mobile-head .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mobile-head .logo-img {
  padding: 10px 5px 10px 15px;
}

.mobile-head .shop-name h1 {
  font-size: 0.8em;
  font-weight: bold;
}

.mobile-head .navbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  background-color: #0078be;
  color: #fff;
  width: 115px;
  margin-right: 15px;
  font-size: 0.9em;
}

.mobile-head .navbtn:hover {
  background-color: #fa5a00;
  color: #fff;
}

.mobile-head .navbtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.mobile-head .navbtn input[type="submit"] {
  width: 100%;
  height: 100%;
  color: #fff;
}

.mobile-head .navbtn:hover {
  background-color: #0078be;
}

.mobile-head .navbtn-line {
  position: relative;
  width: 20px;
  height: 15px;
  margin-right: 6px;
}

.mobile-head .navbtn-line span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: .35s ease-in-out;
}

.mobile-head .navbtn-line span:nth-child(1) {
  top: 0;
}

.mobile-head .navbtn-line span:nth-child(2) {
  top: 6px;
}

.mobile-head .navbtn-line span:nth-child(3) {
  top: 12px;
}

.gl-nav {
  display: none;
  z-index: 150;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 80px 0 20px 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.gl-nav .main-menu-list {
  margin: 5px 0;
}

.gl-nav .main-menu-link {
  display: block;
}

.gl-nav .main-menu-link span:first-of-type {
  display: block;
  font-size: 1.8em;
  font-family: "Nikukyu";
}

.gl-nav .main-menu-link span:last-of-type {
  display: block;
  font-size: 0.8em;
}

.gl-nav .sub-menu-area.show {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gl-nav .sub-menu-area.hide {
  display: none;
}

.gl-nav .sub-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 5px 5px 10px 5px;
  border-radius: 15px;
  background-color: #0078be;
  color: #fff;
}

.gl-nav .sub-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
}

.open .navbtn-line span {
  display: block;
}

.open .navbtn-line span:nth-child(1) {
  top: 7px;
  transform: rotate(135deg);
}

.open .navbtn-line span:nth-child(2) {
  left: 50%;
  width: 0;
}

.open .navbtn-line span:nth-child(3) {
  top: 7px;
  transform: rotate(-135deg);
}

.open .gl-nav {
  display: block;
}

.mobile-fixed {
  margin-top: 60px;
}

.mobile-fixed .mobile-head {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
}

.mobile-fixed .gl-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-img {
  background: url("../images/bg_top_50.jpg") 0 0 repeat;
}

.main-img .main-img-logo {
  display: none;
}

.main-img .page-title {
  display: flex;
  width: 100%;
  min-width: 300px;
  min-height: 130px;
  padding: 0 5%;
}

.main-img .page-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000, 1px 0px 0 #000, 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff, 2px 0px 0 #fff;
  color: #fff;
}

.main-img .page-main-name {
  font-size: 10vw;
  font-family: "Nikukyu";
  font-weight: normal;
}

.main-img .page-sub-name {
  letter-spacing: 0.2em;
  font-size: 5vw;
}

.main-img .page-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-height: 130px;
}

.main-img .page-img:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.main-img .page-img img {
  width: 80%;
  min-width: 100px;
}

.main-contents {
  margin: 8% 0 12% 0;
}

.footer-container {
  margin: 0 auto;
  padding: 30px 0 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.footer-info h2 {
  font-size: 1.5em;
}

.footer-info table {
  margin: 0 auto;
}

.footer-info table tr {
  display: block;
  margin: 20px;
}

.footer-info table th {
  display: block;
}

.footer-info table td {
  display: block;
}

.footer-info .google-btn {
  width: 80%;
  margin: 5px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  background-color: #0078be;
  color: #fff;
}

.footer-info .google-btn:hover {
  background-color: #fa5a00;
  color: #fff;
}

.footer-info .google-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.footer-info .google-btn input[type="submit"] {
  width: 100%;
  height: 100%;
  color: #fff;
}

.footer-info .footer-map {
  margin-bottom: 30px;
}

.footer-info .footer-map img {
  max-width: 100%;
  height: auto;
}

.copyright {
  margin-top: 20px;
}

/* === 各ページ共通  モバイル用(横向き)デザイン ==================================== */
@media screen and (max-width: 767px) and (orientation: landscape) {
  .gl-nav {
    padding: 22vh 5vh 5vh 5vh;
  }
  .gl-nav .main-menu-area {
    display: flex;
    flex-wrap: wrap;
  }
  .gl-nav .main-menu-list {
    width: 50%;
    margin: 0;
  }
}

/* === 各ページ共通  PC用デザイン ==================================== */
@media screen and (min-width: 768px) {
  .caption-box {
    width: 500px;
    padding: 10px 0;
    margin: 90px auto 60px auto;
    border: 5px solid #fff;
    border-radius: 15px;
    letter-spacing: 0.3em;
    font-size: 30px;
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000, 2px 0px 0 #000, 3px 3px 0 #fff, -3px 3px 0 #fff, 3px -3px 0 #fff, -3px -3px 0 #fff, 0px 3px 0 #fff, -3px 0px 0 #fff, 0px -3px 0 #fff, 3px 0px 0 #fff;
  }
  .back-img {
    min-width: 1040px;
    background: url("../images/bgscroll_200.png") 0 0 repeat, #ffffff 0 0 no-repeat;
    animation: anime02 10s linear infinite;
  }
  .gl-header {
    display: flex;
    flex-wrap: wrap;
    top: 0;
  }
  .gl-header .header-nav {
    order: 2;
    display: block;
    position: static;
    width: 100%;
    height: 80px;
  }
  .gl-header .mobile-head {
    display: none;
  }
  .gl-header .gl-nav {
    display: flex;
    align-items: center;
    position: static;
    width: 100%;
    height: 80px;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .gl-header .gl-nav .main-menu-area {
    display: table;
    width: 1040px;
    margin: 0 auto;
  }
  .gl-header .gl-nav .main-menu-list {
    display: table-cell;
    position: relative;
    margin: 0;
  }
  .gl-header .gl-nav .main-menu-link {
    display: block;
    z-index: 200;
    position: relative;
    padding: 0 20px;
  }
  .gl-header .gl-nav .main-menu-link span:first-of-type {
    font-size: 28px;
  }
  .gl-header .gl-nav .main-menu-link span:last-of-type {
    font-size: 16px;
  }
  .gl-header .gl-nav .sub-menu-area {
    display: none;
  }
  .gl-header .gl-nav .sub-menu-area.show {
    display: block;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .gl-header .gl-nav .sub-menu-list {
    width: 80%;
    margin: 15px auto;
  }
  .gl-header .gl-nav .sub-menu-list:hover {
    background-color: #fa5a00;
  }
  .mobile-fixed {
    margin: 0;
  }
  .pc-fixed .gl-nav {
    position: fixed;
    top: 0;
  }
  .main-img {
    order: 1;
    width: 100%;
    background: url("../images/bg_top_100.jpg") 0 0 repeat;
  }
  .main-img .main-img-area {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    margin: 0 auto;
    padding: 30px;
  }
  .main-img .main-img-logo {
    display: block;
    margin-top: 20px;
  }
  .main-img .page-title {
    justify-content: flex-end;
    padding: 0;
  }
  .main-img .page-name {
    width: initial;
    width: auto;
    margin-right: 30px;
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000, 2px 0px 0 #000, 3px 3px 0 #fff, -3px 3px 0 #fff, 3px -3px 0 #fff, -3px -3px 0 #fff, 0px 3px 0 #fff, -3px 0px 0 #fff, 0px -3px 0 #fff, 3px 0px 0 #fff;
  }
  .main-img .page-name .page-main-name {
    font-size: 72px;
  }
  .main-img .page-name .page-sub-name {
    font-size: 34px;
  }
  .main-img .page-img {
    width: initial;
    width: auto;
  }
  .main-img .page-img img {
    width: 200px;
  }
  .main-contents {
    width: 1040px;
    margin: 0 auto 120px auto;
  }
  .footer-container {
    min-width: 1040px;
    padding-top: 50px;
  }
  .footer-container .footer-info {
    display: flex;
    justify-content: center;
  }
  .footer-container .shop-info-text h2 {
    margin-bottom: 10px;
    padding: 5px 0;
  }
  .footer-container .shop-info-text table {
    display: table;
  }
  .footer-container .shop-info-text tr {
    display: table-row;
    text-align: left;
  }
  .footer-container .shop-info-text th,
  .footer-container .shop-info-text td {
    display: table-cell;
    padding: 10px 30px;
    vertical-align: top;
  }
  .footer-container .google-btn {
    text-align: center;
    margin: 5px 0 0 0;
  }
  .footer-container .copyright {
    margin: 10px 0 0 0;
  }
}

@keyframes anime02 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 200px;
  }
}
